<!DOCTYPE html>
<html lang="en">
<head>
  <link href="/stylesheets/site.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/site-interior.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/global-nav.css" media="screen" rel="stylesheet" type="text/css" />
  <title>Create Product Compatibility</title>
  <style>
    table {
      max-width: 900px;
      overflow: auto;
      margin: 10px auto;
    }

    td {
      margin: 10px;
      padding: 5px;
      border: 1px solid #ccc;
    }
    .page-content {
      max-width: 900px;
      padding: 30px;
      margin: auto;
    }
  </style>
</head>
<body>
  <div class="page-content">
    <%= yield %>
  </div>
  <a href="/data/file.csv">Download CSV</a>
</body>
</html>